.container{
    max-width: 400px;
    min-height: 450px;
    margin: 0 auto;
   margin-top: 30px;
    box-shadow: 0 0 10px gray;
    background-color: honeydew;
    padding: 15px 15px;
} 
.text-center{
    text-align: center;
}

.income-expense-tab{
    display: flex;
    background-color: white;
    justify-content: space-around;
}
.list{
    margin: 0;
    padding: 0;
}
.list>li{
    display:flex;
    list-style:none;
    justify-content: space-between;
    padding: 10px 15px;
    margin: 15px 0;
    box-shadow: 0 0 10px gray;
    border-radius: 4px;
    background-color: greenyellow;
    border-right: solid;
}
.add-btn{
    background-color: blue;
    text-align: center;
    color: white;
    width: 100%;
    
}
.form-control>input{
    padding: 5px 5px;
    margin: 10px 0px;
    width: 100%;

}
.income{
    color: green;
    font-weight: normal;
}
.expense{
    color: red;
    font-weight: normal;
}

.minus{

    border-color: red;
}

.plus{
    border-color:green;
}
